@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --app-main-color: #139949;
  --app-menu-content-text: #139949;
  --app-primary-color: #0d8812;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.btn-green-color {
  border-color: var(--app-main-color) !important;
  background: var(--app-main-color) !important;
  color: #fff;
  min-width: 90px;
  transition: all 0.3s ease;
}

.btn-green-color:disabled {
  border-color: #d7d7d7 !important;
  background: #eaecef !important;
  color: gray;
  cursor: not-allowed;
  box-shadow: 0px 0px #888888;
}

.btn-green-color:hover {
  color: #fff !important;
  transition: all 0.3s ease !important;
  opacity: 80 !important;

}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}